html {
  background-color: rgb(242,241,245);
  font-family: 'Time New Roman';
}

input:checked + span {
  opacity: 0.2;
  text-decoration: line-through;
}

header {
  padding: 50px 50px 0 50px;
  display: flex;
  width: 70%;
  font-size: 36px;
}

.counting {
  float: right;
  margin-right: 8px;
}

.title {
  flex: 9;
  margin: auto;
}

main {
  padding: 10px 0 0 50px;
  width: 70%;
}

.enter-commands {
  display: flex;
}

textarea {
  font-size: 18px;
  flex: 3;
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgb(170,170,170);
  border: 1px solid rgb(170,170,170);
}

input {
  color: white;
  background: rgb(4,156,216);
  font-family: inherit;
  border: 1px solid rgb(37,99,244);
  padding: 14px 22px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 1px 1px rgb(4,156,210);
  margin-left: 16px;
}

li {
  list-style-type: none;
  padding: 15px 0 0 0;
  font-size: 22px;
}
