html {
  font-family: 'Titillium Web', sans-serif;
}

header {
 padding: 16px 0;
 background-color: #CED0CE;
 color: white;
 text-align: center;
}

main {
  padding: 10px 50px 10px 50px;
  background-color: #353535;
}

.container {
  display: flex;
  padding: 12px 0 12px 0;
}

p {
 font-size: 40px;
}

.card {
  font-family: inherit;
  margin: 0 auto;
  background: #CED0CE;
  color: white;
  width: 22%;
  float: left;
  height: 175px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smaller-card {
  font-family: inherit;
  margin: 0 auto;
  background: #CED0CE;
  color: white;
  width: 20%;
  float: left;
  height: 125px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#numberOf, #on {
  font-size: 60px;
}

#with {
  font-size: 40px;
}

hr{
 clear: both;
}

.new-adventure-button {
  color: white;
  background: #191919;
  font-family: inherit;
  border: none;
  font-size: 30px;
  padding: 10px 50px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.Faster {
  text-align: center;
}
