body {
  background-color: #007EA7;
}

header {
 padding: 8px 0;
 background-color: #003459;
 color: white;
 text-align: center;
}

main {
  padding: 10px 50px 10px 50px;
}

.container {
  display: flex;
}


p {
 font-size: 20px;
}

.card {
  margin: 0 auto;
  background: #003459;
  color: white;
  width: 15%;
  float: left;
  height: 200px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#with {
  text-align: center;
}

hr{
 clear: both;
}

.new-adventure-button {
  color: white;
  background: #FCA311;
  font-family: inherit;
  border: none;
  font-size: 30px;
  padding: 10px 50px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.Faster {
  text-align: center;
}
