h1 { font-size: 2em; }

h2 { font-size: 1.1em; }

body {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: rgba(254,0,102,0.9);
}

input {
  font-size: inherit;
  font-family: inherit;
}

.times-table th,
.times-table td {
  width: 50px;
  padding: 5px;
}
.times-table input {
  width: 100%;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 1em;
}
